* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background-image: url("https://cdna.artstation.com/p/assets/images/images/026/667/614/large/natalia-rajs-background.jpg?1589390851");
    
    
}
.title {
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 95px;
    color:purple;
}


.start {
    box-sizing: border-box;
    width: 200px;
    height: 60px;
    position: absolute;
    top: 37%;
    left: 43%;
    text-align: center;
    background-color: #fff;
    font-size: large;
    font-weight: bolder;
}

.start a {
    text-decoration: none;
    color:black;
    font-size: 25px;
}
button:hover {
    background-color: black;
    color: #fff;
}
button a:hover {
    color: #fff;
}
footer {
    font-weight:bold;
    font-size: 20px;
    position: absolute;
    bottom:0% ;
    left: 42%;
}

img {
    width:100px;
}
.moves {
    color:#fff;
    text-align: center;
    margin-top: 15px;
}



