body {
    background-image: url("https://cdna.artstation.com/p/assets/images/images/026/667/614/large/natalia-rajs-background.jpg?1589390851");

	margin: 0;
}

.tiles {
	margin: 48px auto;
	width: max-content;
	display: grid;
	grid-template-columns: repeat(4, 100px);
	gap: 16px;
	box-sizing: border-box;
}

.tile {
	height: 100px;
	background: #111111;
	border: 5px solid #444444;
	cursor: pointer;
}
.home {
    color: #fff;
    margin-left: 10px;
    
}
h3 a {
    text-decoration: none;
    color: black;
}